<label class="form-control" [class.w-full]="fullWidth">
  @if (label) {
    <div class="label">
      <span class="label-text">
        {{ label }}
        @if (required) {
          <span class="text-error">*</span>
        }
      </span>
    </div>
  }

  <input
    class="input input-bordered"
    [class.input-error]="!!errorText"
    [id]="inputId"
    [name]="name"
    [type]="type"
    [value]="value"
    [placeholder]="placeholder"
    [autocomplete]="autocomplete"
    [required]="required"
    [disabled]="disabled"
    (input)="handleInput($event)"
  />

  @if (helperText || errorText) {
    <div class="label">
      <span class="label-text-alt" [class.text-error]="!!errorText">
        {{ errorText || helperText }}
      </span>
    </div>
  }
</label>
