@import "tailwindcss";
@plugin "daisyui"{
 themes: light --default, dark --prefersdark, cupcake;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  background: var(--fallback-b2, oklch(0.97 0 0));
  color: var(--fallback-bc, oklch(0.2 0 0));
}

app-root {
  display: block;
}
